<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('./partials/_head') %>

  <!-- <link rel="stylesheet" href="/styles/main.css"> -->

  <title>Home</title>

</head>
<body>
  <header>
    <%- include('./partials/_header') %>
  </header>
  <main>
    <h2>Welcome to Quiz App</h2>
    <h4 class="pb-3">Pick a quiz below. Good luck! 😊</h4>
    <section id="quizzes">
      <ul class="quiz-list my-3">
        <% quizzes.forEach(quiz => { %>
          <% if (!quiz.private) { %>
          <li class="quiz my-3"><a href="/quizzes/<%= quiz.id %>"><%= `Quiz ${quiz.id} - Public quiz ${quiz.id} - ${quiz.name}` %></a></li>
          <% } else { %>
          <li class="quiz my-3"><a href="/quizzes/<%= quiz.id %>"><%= `Quiz ${quiz.id} - Private quiz ${quiz.id} - ${quiz.name}` %></a></li>
          <% } %>
        <% }) %>
      </ul>
    </section>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
