<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('./partials/_head') %>
  <link rel="stylesheet" href="../public/styles/results.css">
  <title>Results page</title>

  <!-- jquery script -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <!-- js script  -->
  <script type="text/javascript" src="/scripts/results.js"></script>

</head>

<body>
  <header>
    <%- include('./partials/_header') %>
  </header>

  <main class="container d-flex flex-column align-items-center my-5">
    <!-- if score >= 50%  -->
    <% if (scorePercent >= 50) { %>
      <div class="d-flex flex-column align-items-center my-5" id="passed_quiz">
        <h2 class="fs-1">Great Job! 🎉</h2>
        <!-- <p class="fs-3">You scored <span class="fw-bold">X/Y</span></p> -->
        <p class="fs-3 pb-3">You scored <span class="fw-bold" id="score"><%= score %></span> / <span id="total" class="fw-bold"><%= total %></span></p>
        <a href="" class="btn">share your result with friends</a>
      </div>
    <% } else { %>
      <!-- if score < 50% -->
      <div class="d-flex flex-column align-items-center my-5" id="failed_quiz">
        <h2 class="fs-1">Not so great! 😩 </h2>
        <p class="fs-3">You scored <span class="fw-bold" id="score"><%= score %></span> / <span id="total" class="fw-bold"><%= total %></span></p>
        <!-- <p class="fs-3">You scored <span class="fw-bold">X/Y</span></p> -->
        <!-- this should redirect to the public quiz page -->
        <a class="pb-3" href="http://localhost:8080/">Try again?</a>
        <a href="" class="btn">share your result with friends</a>
      </div>
    <% } %>
      <!-- how do i make this display all the questions and correct answers.  -->
    <!-- <div class="my-5">
      <h4>This Div holds the questions and their correct answers. </h4>
    </div> -->


  </main>

</body>
</html>


